In [1]:
from relation_modeling_utils import load_data

train_df = load_data("data/atomic2020_data-feb2021/train.tsv")
val_df = load_data("data/atomic2020_data-feb2021/dev.tsv")
test_df = load_data("data/atomic2020_data-feb2021/test.tsv")

In [2]:
len(train_df), len(val_df), len(test_df)

(36940, 2962, 6569)

In [3]:
train_df.head()

                                   text  label
0       PersonX abandons ___ altogether      2
1   PersonX abandons the ___ altogether      1
2      PersonX abolishes ___ altogether      1
3   PersonX abolishes ___ in the states      1
4  PersonX abolishes the ___ altogether      1

In [4]:
train_df.label.value_counts()

1    18402
0    14280
2     4258
Name: label, dtype: int64

In [5]:
val_df.label.value_counts()

1    2263
2     369
0     330
Name: label, dtype: int64

In [6]:
test_df.label.value_counts()

1    4419
0    1865
2     285
Name: label, dtype: int64

In [7]:
import spacy
from tqdm import tqdm
# from collections import defaultdict

nlp = spacy.load("en_core_web_sm", exclude=["ner"])

def create_vocab(data):
    vocab = set()
    text = " ".join(data.text.to_list())
    doc = nlp(text)
    for token in tqdm(doc, total=len(doc)):
        vocab.add(token.text.lower())
    
    return vocab

train_vocab, val_vocab, test_vocab = create_vocab(train_df), create_vocab(val_df), create_vocab(test_df)

100%|██████████| 140049/140049 [00:00<00:00, 596506.60it/s]
100%|██████████| 14524/14524 [00:00<00:00, 877630.26it/s]
100%|██████████| 27270/27270 [00:00<00:00, 720441.10it/s]

In [14]:
len(train_vocab.intersection(val_vocab)) / len(train_vocab), len(train_vocab.intersection(val_vocab)) / len(val_vocab)

(0.15235929505400797, 0.8725581395348837)

In [13]:
len(train_vocab.intersection(test_vocab)) / len(train_vocab), len(train_vocab.intersection(test_vocab)) / len(test_vocab),

(0.27109559002680095, 0.8000958772770853)